<h1>Hello {{ name }}!</h1>
<hr>

<!--<inbuilt></inbuilt>-->


<!-- Pipe Chaining -->
<!--<h2>Pipe Chaining</h2>
<input type="text" #chainVal (keyup)="0" />
<h3>{{chainVal.value | uppercase | slice: 2: 8}}</h3>-->

<hr>
<!--Custom pipes-->
<!--<h1>Custom Pipes</h1>
<h2>Power Pipe</h2>
<h3>{{powerNumber | power: 5}}</h3>-->

<!--<input type="number" #expoVal (keyup) = "0">
<h3>{{powerNumber}} to the power {{expoVal.value || 0}}: {{powerNumber | power: expoVal.value||0}}</h3>-->
